torch-cluster -f https://data.pyg.org/whl/torch-1.12.1+cu113.html
torch-scatter -f https://data.pyg.org/whl/torch-1.12.1+cu113.html
torch-sparse -f https://data.pyg.org/whl/torch-1.12.1+cu113.html
torch-geometric
numpy
tqdm
matplotlib
IPython